{deps, [
    {gproc, "0.9.0"},
    {genlib, {git, "https://github.com/valitydev/genlib", {tag, "v1.1.0"}}},
    {riakc, {git, "https://github.com/valitydev/riak-erlang-client", {branch, "ft/erlang-27-compat"}}},
    %% NOTE Locks pooler in between minor versions for compatibility.
    {pooler, {git, "https://github.com/seth/pooler", {ref, "96e1840"}}},
    {msgpack, {git, "https://github.com/msgpack/msgpack-erlang", {branch, master}}},
    {prometheus, "4.11.0"},
    {opentelemetry_api, "1.4.0"}
]}.
