{deps, [
    {gproc, "0.9.0"},
    {genlib, {git, "https://github.com/valitydev/genlib", {tag, "v1.1.0"}}},
    {riakc, {git, "https://github.com/valitydev/riak-erlang-client", {branch, develop}}},
    {pooler, {git, "https://github.com/seth/pooler", {branch, master}}},
    {msgpack, {git, "https://github.com/msgpack/msgpack-erlang", {branch, master}}},
    {prometheus, "4.11.0"},
    {opentelemetry_api, "1.4.0"}
]}.

{overrides, [
    {override, rebar3_protobuffs_plugin, [
        {deps, [{protobuffs, {git, "https://github.com/basho/erlang_protobuffs", {tag, "0.8.2"}}}]}
    ]},

    {override, protobuffs, [{deps, []}]},

    {override, riakc, [
        {erl_opts, [
            {d, namespaced_types},
            {d, deprecated_19}
        ]}
    ]},

    {override, riak_pb, [
        {plugins, [
            {riak_pb_msgcodegen, {git, "https://github.com/tsloughter/riak_pb_msgcodegen", {branch, "master"}}},
            {rebar3_protobuffs_plugin, {git, "https://github.com/cmkarlsson/rebar3_protobuffs_plugin", {tag, "0.1.1"}}}
        ]},
        {provider_hooks, [{pre, [{compile, {protobuffs, compile}}, {compile, riak_pb_msgcodegen}]}]}
    ]}
]}.
