{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function,

    % at will
    % bin_opt_info
    % no_auto_import,
    warn_missing_spec_all
]}.

%% XRef checks
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

% at will
% {xref_warnings, true}.

{erlfmt, [
    {print_width, 100},
    {files, ["{src,include,test}/*.{hrl,erl}", "rebar.config"]}
]}.

%% Tests
{cover_enabled, true}.

%% Dialyzer static analyzing
{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        % race_conditions,
        unknown
    ]},
    {plt_apps, all_deps},
    {plt_extra_apps, [eunit, common_test]}
]}.

{deps, [
    {machinegun_core, {git, "https://github.com/valitydev/machinegun-core", {branch, "epic/fix_events"}}},
    {mg_proto, {git, "https://github.com/valitydev/machinegun-proto", {branch, master}}},
    {genlib, {git, "https://github.com/valitydev/genlib", {branch, master}}},
    {woody, {git, "https://github.com/valitydev/woody_erlang", {branch, master}}},
    {opentelemetry_api, "1.2.1"}
]}.

{shell, [
    {apps, [machinegun_woody_api]}
]}.

{project_plugins, [
    {rebar3_lint, "1.0.1"},
    {erlfmt, "1.0.0"},
    {covertool, "2.0.4"}
]}.

%% Linter config.
{elvis_output_format, colors}.

{erlfmt, [
    {print_width, 120},
    {files, ["{src,test}/*.{hrl,erl}", "rebar.config", "elvis.config"]}
]}.

{covertool, [
    {coverdata_files, [
        "eunit.coverdata",
        "ct.coverdata"
    ]}
]}.

{overrides, [
    {del, riak_pb, [
        {deps, [
            % Test-only dependency which depends on private plugins because of which rebar3 trips
            % all the time. Removed in the name of build sanity.
            % > https://github.com/basho/riak_pb/blob/08771aba/rebar.config#L9
            {hamcrest, "0.4.*", {git, "https://github.com/basho/hamcrest-erlang.git", {tag, "0.4.1"}}}
        ]}
    ]}
]}.
