{deps, [
    {genlib, {git, "https://github.com/valitydev/genlib", {tag, "v1.1.0"}}},
    {erl_health, {git, "https://github.com/valitydev/erlang-health", {branch, "master"}}},
    {prometheus, "4.11.0"},
    {prometheus_cowboy, "0.1.9"},

    %% OpenTelemetry deps
    {opentelemetry_api, "1.4.0"},
    {opentelemetry, "1.5.0"},
    {opentelemetry_exporter, "1.8.0"}
]}.
