
{deps, [
    {genlib, {git, "https://github.com/valitydev/genlib", {branch, master}}},
    {machinegun_woody_api, {git, "https://github.com/valitydev/machinegun-woody-api", {branch, master}}},
    {erl_health, {git, "https://github.com/valitydev/erlang-health", {branch, "master"}}},
    {prometheus, "4.8.1"},
    {prometheus_cowboy, "0.1.8"},

    %% OpenTelemetry deps
    {opentelemetry_api, "1.2.1"},
    {opentelemetry, "1.3.0"},
    {opentelemetry_exporter, "1.3.0"}
]}.
