[
    {progressor, [
        {namespaces, #{
            'NS' => #{
                storage => #{
                    client => prg_pg_backend,
                    options => #{pool => default_pool}
                },
                processor => #{
                    client => mg_cth_nbr_processor,
                    options => #{}
                },
                retry_policy => #{
                    initial_timeout => 3,
                    backoff_coefficient => 1.2,
                    max_timeout => 180,
                    max_attempts => 2,
                    non_retryable_errors => [
                        do_not_retry
                    ]
                },
                task_scan_timeout => 1,
                process_step_timeout => 30
            }
        }}
    ]},
    {epg_connector, [
        {databases, #{
            progressor_db => #{
                host => "postgres",
                port => 5432,
                database => "progressor_db",
                username => "progressor",
                password => "progressor"
            }
        }},
        {pools, #{
            default_pool => #{
                database => progressor_db,
                size => 10
            }
        }}
    ]}
].
