{deps, [
    {gproc, "0.9.0"},
    {brod, "3.16.1"},
    {snappyer, "1.2.8"},
    {genlib, {git, "https://github.com/valitydev/genlib", {branch, master}}},
    {msgpack, {git, "https://github.com/msgpack/msgpack-erlang", {branch, master}}},
    {snowflake, {git, "https://github.com/valitydev/snowflake", {branch, master}}},
    {opentelemetry_api, "1.2.1"}
]}.
